{% include "base.html" %}

<form action="/login" method="POST">
	<fieldset>
		<legend>Please log in</legend>
		<p>User: <input type="text" name="user"></p>
		<p>Password: <input type="password" name="password"></p>
		<button>Submit</button>
	</fieldset>
</form>
<br><a href="/register">Register</a>

<br>
Term: <input type="text" id="search-term" value="ceva">
<button id="submit-search">Search</button>

  <div id="world-map" style="width: 600px; height: 400px"></div>
  <script>
    $(function(){
    	var map = new jvm.WorldMap({
          map: 'world_mill_en',
          container: $('#world-map'),
          regionsSelectable: true,
          regionsSelectableOne: true,
          series: {
            regions: [{
              attribute: 'fill'
            }]
          },
          onRegionSelected: function(){
          	if (map.getSelectedRegions().length > 0)
	          	send(map.getSelectedRegions());
          }
        });

      	var palette = ['#66C2A5', '#FC8D62', '#8DA0CB', '#E78AC3', '#A6D854'];
            generateColors = function(){
              var colors = {},
                  key;

              for (key in map.regions) {
                colors[key] = palette[Math.floor(Math.random()*palette.length)];
              }
              return colors;
            },
            map;

     map.series.regions[0].setValues(generateColors());
        $('#update-colors-button').click(function(e){
          e.preventDefault();
          map.series.regions[0].setValues(generateColors());
        });

    var socket = io.connect('http://127.0.0.1');
    function send(selected) {
    	console.log("Sending mesg");
   		socket.emit('clientMessage', selected, 'USER001');  
	};
	send();

	$('#submit-search').click(function(e) {
		console.log("caut dupa " + $('#search-term').val());
		send($('#search-term').val());
	});


    })
  </script>
</body>
</html>
